astroid==2.9.3
black==22.1.0
click==8.0.4
cycler==0.11.0
flake8==4.0.1
fonttools==4.31.2
isort==5.10.1
joblib==1.1.0
kiwisolver==1.4.0
lazy-object-proxy==1.7.1
matplotlib==3.5.1
mccabe==0.6.1
mypy==0.941
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pathspec==0.9.0
Pillow==9.0.1
platformdirs==2.5.1
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylama==8.3.8
pylint==2.12.2
pyparsing==3.0.7
pyroute2==0.6.9
pyroute2.core==0.6.9
pyroute2.ethtool==0.6.9
pyroute2.ipdb==0.6.9
pyroute2.ipset==0.6.9
pyroute2.ndb==0.6.9
pyroute2.nftables==0.6.9
pyroute2.nslink==0.6.9
python-dateutil==2.8.2
scapy==2.4.5
scikit-learn==0.24.2
scipy==1.8.0
six==1.16.0
snowballstemmer==2.2.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
torch==1.11.0
typing_extensions==4.1.1
wrapt==1.13.3
