astroid==3.3.8
bcrypt==4.2.1
black==25.1.0
cffi==1.17.1
click==8.1.8
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
dill==0.3.9
dodgy==0.2.1
filelock==3.17.0
flake8==7.1.1
flake8-polyfill==1.0.2
fonttools==4.55.8
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
isort==6.0.0
Jinja2==3.1.5
joblib==1.4.2
kiwisolver==1.4.8
lazy-object-proxy==1.10.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mccabe==0.7.0
mpmath==1.3.0
mypy==1.14.1
mypy-extensions==1.0.0
narwhals==1.24.1
netifaces==0.11.0
networkx==3.4.2
numpy==2.2.2
numpy_typing==1.1.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==9.7.0.66
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
packaging==24.2
pandas==2.2.3
paramiko==3.5.0
pathspec==0.12.1
pep8-naming==0.10.0
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
prospector==1.14.0
pycodestyle==2.12.1
pycparser==2.22
pydocstyle==6.3.0
pyflakes==3.2.0
pylama==8.4.1
pylint==3.3.4
pylint-celery==0.3
pylint-django==2.6.1
pylint-flask==0.6
pylint-plugin-utils==0.8.2
PyNaCl==1.5.0
pyparsing==3.2.1
pyroute2==0.8.1
pyroute2.core==0.6.13
pyroute2.ethtool==0.6.13
pyroute2.ipdb==0.6.13
pyroute2.ipset==0.6.13
pyroute2.ndb==0.6.13
pyroute2.nftables==0.6.13
pyroute2.nslink==0.6.13
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requirements-detector==1.3.2
scapy==2.6.1
scikit-learn==1.6.1
scipy==1.15.1
semver==3.0.4
setoptconf-tmp==0.3.1
setuptools==75.8.0
six==1.17.0
smmap==5.0.2
snowballstemmer==2.2.0
sympy==1.13.1
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
torch==2.6.0
triton==3.2.0
types-paramiko==3.5.0.20240928
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
tzdata==2025.1
wheel==0.45.1
wrapt==1.17.2
